* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0f3ff;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.latestcontainer {
  margin: 20px;
  width: 90%;
  padding: 5px;
}

.latestpost-heading {
  border-radius: 20px;
  background-color: #857c85;
  height: 50px;
  margin-bottom: 20px;
}

.latestpost-heading h1 {
  text-align: center;
  color: firebrick;
  padding: 10px;
}

.latest1 {
  height: 175px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: white;
  margin-top: 20px;
  border-left: 7px solid red;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  gap: 20px;
  box-shadow: 5px 2px 10px rgba(255, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.latest1:hover {
  transform: translatex(10px);
  box-shadow: 5px 8px 16px rgba(255, 0, 0, 0.2);
}

.latestphoto1 {
  height: 90%;
  width: 60%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  padding: 10px;
  /* margin-right: 10px; */
}

.latestcontent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.latestcontent1 h1 {
  color: green;
  margin: 10px;
  font-size: 24px;
}

.latestcontent1 p {
  text-align: justify;
  line-height: 1.6;
  color: #333;
}

@media (max-width: 768px) {
  .latestcontent {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
  }
  .latest1 {
    border: none;
    height: 550px;
    width: 45%;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    border-top: 7px solid red;

  }

  .latestphoto1 {
    width: 100%;
    height: 600px;
    margin-bottom: 0;
  }

  .latestcontent1 h1 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .latestcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .latest1 {
    border: none;
    height: 550px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    border-top: 7px solid red;

  }

  .latestphoto1 {
    width: 100%;
    height: 300px;
    margin-bottom: 0;
  }

  .latestcontent1 p {
    font-size: 14px;
  }

  .latestcontent1 h1 {
    font-size: 28px;
  }
}
